.banner{
     width: 100% !important;
     height: 30vh !important;
     overflow: hidden;
 }

#BannerFoto{
    margin-top: -63vh;
    width: 100%;
    z-index: -1;
    filter: brightness(70%) ;
}
#BannerTekst{
    color: white;
    z-index: 10;
    position: relative;
    text-align: center;
    font-size: 10vh;
    margin-top: 7.5vh;
}