.carousel-control-next {
    filter: invert(100%);
}
.carousel-control-prev {
    filter: invert(100%);
}
.carousel-indicators {
    filter: invert(100%);
}
.carousel-item {
    align-content: center;
}