body, html {
    height: 100%;
    overflow-x: hidden;
}


.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

h1 {
    text-align:center;
}
#homepageText {
    position: absolute;
    top: 200px;
    left: 10%;
    color: black;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}


@media (max-width: 1400px) {
    body, html {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto
    }
    #homepageText {
        margin-right: 150px;
    }

}
@media (max-width: 795px){
    body, html {
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #homepageText {
        visibility: hidden;
    }
    h1 {
        position: absolute;
        top: 200px;
        left:10%;
        right:10%;
        color: black;
        font: bold 24px/45px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
    }
    p {
        visibility: hidden;
    }
    h1 {
        text-align:center;
    }

}