.contentvak h1{
    color: #6cba3d;
    letter-spacing: 0;
    font-size: 60px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.contentvak {
    margin: 60px;
    max-width: 50vw !important;
    background-color: #F9F9F9;
    border-radius: 1%;
}

.ContentFoto{
    float: right;
    border-radius: 10%;
    margin: 10px;
}



